.nn{
    position: sticky;
    top:0;
    background-color: transparent;
    z-index: 999;
}
*{
    margin: 0;
    padding: 0;
}
.active{
    background-color: white;
}
.containerh{
    width: 100%;
}
.colOne{
    display: flex;
}
#baricon{
    visibility: hidden;
    margin-top: 22px;
    height: 25px;
    margin-left: 20px;
    cursor: pointer;
}
.disactive{
    display: none;
}
.logo{
    cursor: pointer;
    display: flex;
    margin-top: 21px;
    margin-left: -10px;
}
.logo img{
    height: 36px;
    width: 50px;
}
.searchBar{
    margin-top: 4px;
    padding-left: 25px;
    display: flex;
}
.searchBarHide{
    display: none;
}
.searchLogo{
    position:absolute;
    margin-top: 10px;
    width: 18px;
    margin-left: 7px
}
.btnn{
    background-color: rgb(13, 150,81);
    color: white;
    height: 38px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: none;
    padding: 0px 16px;
    border-radius: 0 4px 4px 0;
}
.navigation{
    margin-top: 26px;
}
ul{
    display: flex;
    margin-top: 13px;
    list-style: none;
}
ul li{
    padding-left: 14px;
    margin-left: 9px;
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Helvetica";
}
.linkColor{
    color: #62646a;
}
.disactiveLink{
    color: white;
}
ul li .global{
    padding: 5px;
}
.signInLink{
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.signInLink:hover{
    color: #1dbf73;
    text-decoration: none;
}
.bli{
    margin-top: -6px;
}
.bgcolor{
    background-color: blue;
    height: 630px;
}
Form .mr-lg-0{
    padding-left: 25px;
    border-right: 0px;
    border-radius: 4px 0px 0px 4px;
}
@media screen and (max-width:1200px){
    .searchBar{display: none;}

    #baricon{
        visibility: visible;
    }
    .logo{
        margin-left: 5px;
    }
}

@media screen and (max-width:1100px){
    .ll{
        display: none;
    }
}
@media screen and (max-width:900px){
    .sli{
        display: none;
    }
}
@media screen and (max-width:900px){
    .tli{
        display: none;
    }
    .slider{
        margin-top: 5px;
    }
    #baricon{
        color: rgb(58, 57, 57)
    }
    .disactiveLink{
        color: rgb(56, 54, 54)
    }
    .disactive{
        display: block;
    }
    .disactive img{
        height: 30px;
        margin-top: 20px
    }
    .nm{display: none;}
    .hn .popular{
        display: none;
    }
    .hn{
        width: 85%;
        margin-left: 100px;
        font-size: 38px;
    }
    .hn img{
        margin-top: -45px;

    }
    .hn i{
        font-size: 35px;
    }
    .hn Form .mr-lg-0{
        width: 90%;
        height: 43px;
        border-radius: 4px 4px 4px 4px;
    }
    .hn Form .btnn{
        margin-top: 10px;
        height: 38px;
        width: 90%;
        font-size: 19px;
        border-radius: 4px 4px 4px 4px;
    }
}
@media  screen and (max-width: 600px){
    .signInLink{
        display: none;
    }
    .hn{
        width: 80%;
        margin-left: 80px;
        font-size: 30px;
    }
    .hn i{
        font-size: 30px;
    }
    .hn Form .mr-lg-0{
        width: 95%;
        height: 45px;
    }
    .hn Form .btnn{
        margin-top: 10px;
        height: 43px;
        width: 95%;
    }
}
@media  screen and (max-width: 600px){
    .disactive{
        height: 30px;
        margin-top: 19px;
        position: absolute;
        right: 20%
    }
}
@media  screen and (max-width: 520px){
    .hn{
        width: 85%;
        margin-left: 45px;
        font-size: 30px;
    }
}
.slider{
    margin-top: -110px;
}
/* .slider .carousel-indicators{
    display: none;
} */
.slider .carousel-control-next{
    display: none;
}
.slider .carousel-control-prev{
    display: none;
}
.hn{
    position: absolute;
    top: 150px;
    width: 55%;
    margin-left: 30px;
    font-size: 50px;
    color: whitesmoke;
}
.hn p{
    text-shadow: 4px 4px #564242;
}
.hn i{
    font-size: 55px;
    font-style: italic;
}
.hn Form .mr-lg-0{
    padding-left: 40px;
    width: 75%;
    height: 50px;
    border-right: 0px;
    border-radius: 4px 0px 0px 4px;
}
.hn Form img{
    position: absolute;
    margin-top: 15px;
    width: 18px;
    margin-left: 10px;
}
.hn .popular{
    font-size: 14px;
    margin-top: 10px;
}
.hn .chip{
    color: white;
    border-color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 9px;
}
@media  screen and (max-width: 1000px){
    .hn{
        font-size: 40px;
    }
    .hn i{
        font-size: 40px;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  .logoForm {
    width: 40%;
    margin: 0px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
  }
  
  .userMenu {
    background-color: pink;
    width: 100%;
    height: 100px;
    border-bottom: solid 1px red;
  }
  
  .userMenu ul {
    padding: 10px;
  }
  .userMenu ul li {
    margin-top: 15px;
    display: inline;
  }
  
  .userMenu ul li a {
    color: black;
    font-weight: 700;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
  }
  
  .userMenu ul li img {
    margin-top: 18px;
  }
  
  .userMenu ul li .userimg {
    border-radius: 40%;
  }
  
  .nbv {
    display: flex;
  }
  .userDetails {
    font-weight: 600;
    background-color: #edf1f3;
    padding: 20px;
  }
  .btnnn{
    border: solid 3px rgb(128, 36, 36);
  }
  
  .userDetails img {
    border-radius: 40%;
  }
  .userDetails .userinfo {
    background-color: blanchedalmond;
    width: 27%;
    padding: 10px;
    line-height: 40px;
  }
  
  .userDetails .userinfo .line {
    width: 100%;
    height: 1px;
    background-color: rgb(56, 123, 131);
  }
  .Creategig {
    margin-top: 10px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .mainnnn{
    width: 100%;
    overflow: hidden;
  }
  .creategig{
    margin-top: 50px;
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
  }
  .bnm{
    margin-top: 13px;
  }
  .Tworowborder{
    border-style: groove;
    border-color: darkgray;
    border-width: 1px;
  }
  .borderrowone{
    border-right: groove;
    border-color: darkdray;
    border-width: 1px;
    left: 10px;
  }
  .radiobtn{
    line-height: 30px;
    
  }